@{
    ViewData["Title"] = "Home Page";
}

<a href='@Url.Action("Index","Movies")'><h3>Movies</h3></a>
<a href='@Url.Action("Index","Directors")'><h3>Directors</h3></a>
<a href='@Url.Action("Index","Genres")'><h3>Genres</h3></a>
<a href='@Url.Action("Index","GenresInMovies")'><h3>Genres in movies</h3></a>
<a href='@Url.Action("Index","Actors")'><h3>Actors</h3></a>
<a href='@Url.Action("Index","ActorsInMovies")'><h3>Actors in movies</h3></a>


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
